body{
    background: url('/public/img/GettyImages-909045284-1.jpg') fixed ;
    background-size: cover;    
    background-position: bottom;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    height: 100%;
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    /* font-style: normal; */
    font-style: italic;
}

.overlay{
       
    /* background-color: #d4cb9fa9; */
    background-color: #7b4a4a9c;
    
}
.overlayRevisor{
       
    /* background-color: #d4cb9fa9; */
    background-color: #7b764a9c;
    
}

.myHeight{
    height: 300px;
}
.main-content{
    flex:1;
}
.footer{
   
    margin-top: auto;
    margin-bottom: 0;
    bottom:0%;
    left:0;
    width:100%;
}

.space{
    height: 300px;
}
.space2{
    height: 100px;
}

.js-cookie-consent{
    position: fixed;
    top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #857f64db;
    border-color: #fffacc;
    border: solid 1px;
  }

.nav-image{
    width: 50px;
}

.text-gla {
    color:rgb(205, 119, 119)
}

.text-gla:hover{
    color:grey;
}

.bg-gla{
    background-color:rgb(141, 10, 10) !important;
}

.pagination{
    --bs-pagination-active-color:none;
    --bs-pagination-active-bg: rgb(141, 10, 10);
    --bs-pagination-active-border-color: #0f151f;
}