body{
    background: url('/public/img/GettyImages-909045284-1.jpg') fixed ;
    background-size: cover;    
    background-position: bottom;
}

.overlay{
       
    /* background-color: #d4cb9fa9; */
    background-color: #7b4a4a9c;
    
}

.myHeight{
    height: 300px;
}

.js-cookie-consent{
    position: fixed;
    top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #857f64db;
    border-color: #fffacc;
    border: solid 1px;
  }

.nav-image{
    width: 50px;
}

.text-gla {
    color:rgb(205, 119, 119)
}

.text-gla:hover{
    color:grey;
}

.bg-gla{
    background-color:rgb(141, 10, 10) !important;
}

.pagination{
    --bs-pagination-active-color:none;
    --bs-pagination-active-bg: rgb(141, 10, 10);
    --bs-pagination-active-border-color: #0f151f;
}